node_modules
dist
coverage
.nyc_output
.git
.github
.vscode
.idea

.env
.env.*
!.env.example
!.env.production.example

deploy
Dockerfile
docker-compose.yml
docker-compose.yaml

*.log
npm-debug.log*

.DS_Store
